



<section class="page-form-ele page" ng-controller="AddBannerCtrl">


    <div class="row ui-section" ng-controller="AddBannerCtrl" >
        <div class="col-lg-8 clearfix"> <h2 class="section-header">上传广告</h2> </div>
        <!-- <div class="col-lg-8 clearfix"> 
            <md-button class="md-raised btn-w-md md-primary changeClick" ng-click="changeClick()">修改</md-button><div class="divider"></div>
        </div> -->
        <div class="col-md-12">
            <section class="panel panel-default">
                <div class="panel-body">
                    <div class="row banner-detail" >
                        <div class="col-lg-8 col-lg-offset-2">

                            <div layout="column" ng-cloak class="md-inline-form inputdemoBasicUsage">
                                <md-content layout-padding>
                                    <form name="userForm">

                                        <!-- <div class="form-group clearfix">
                                            <label for="" class="col-sm-3 control-label">banner类型：</label>
                                            <div class="col-sm-6 col-xs-8" style="margin-top:0px;">
                                                <md-radio-group id="gender" class="ui-md-radio-group-inline" ng-model="banner.bannerType">
                                                    <md-radio-button value="1">视频跳转</md-radio-button>
                                                    <md-radio-button value="2">活动跳转</md-radio-button>
                                                </md-radio-group>
                                            </div>
                                        </div> -->

                                        <div class="form-group clearfix">
                                            <label for="" class="col-sm-3 control-label">广告名称：</label>
                                            <div class="col-sm-9">
                                                <input class="form-control" ng-model="banner.bannerName" style="width: 128px;">
                                            </div>
                                        </div>

                                        <div class="form-group clearfix">
                                            <label for="" class="col-sm-3 control-label">广告位置：</label>
                                            <div class="col-sm-9">
                                                <!-- <input class="form-control" ng-model="banner.sortIndex"> -->
                                                <select class="form-control" ng-model="banner.bannerLocation" style="width: 128px;">
                                                    <option value="1">首页轮播图</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="form-group clearfix">
                                            <label class="col-sm-3 col-xs-3">开始时间</label>
                                                <input type="text" id="startDate" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})" class="border-radius-5 border-default ml-10 input-default input-w-50"
                                                data-ng-model="banner.startDate"  data-ng-keyup="search()" placeholder="开始日期" style="width: 136px;height: 28px;">            
                                        </div>

                                        <div class="form-group clearfix">
                                            <label class="col-sm-3 col-xs-3">结束时间</label>
                                                <input type="text" id="endDate" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})" class="border-radius-5 border-default ml-10 input-default input-w-50"
                                                data-ng-model="banner.endDate"  data-ng-keyup="search()" placeholder="结束日期" style="width: 136px;height: 28px;">            
                                        </div>

                                        <div class="form-group clearfix">
                                            <label for="" class="col-sm-3 control-label">上线/下线：</label>
                                            <div class="col-sm-9">
                                                <select class="form-control" ng-model="banner.activated" style="width: 128px;">
                                                    <option value="1">上线</option>
                                                    <option value="2">下线</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="form-group clearfix">
                                            <label for="" class="col-sm-3 control-label">广告类型：</label>
                                            <div class="col-sm-9">
                                                <select class="form-control" ng-model="banner.bannerType" style="width: 128px;">
                                                    <option value="1">图片</option>
                                                    <option value="2">视频</option>
                                                </select>
                                            </div>
                                        </div>

                                        <!-- <div class="form-group clearfix">
                                            <label for="" class="col-sm-3 control-label">排序：</label>
                                            <div class="col-sm-9">
                                                <input class="form-control" ng-model="banner.sortIndex">
                                            </div>
                                        </div> -->

                                        <div class="form-group clearfix" ng-if="banner.bannerType==1">
                                            <label for="" class="col-sm-3 control-label">图片上传：</label>
                                            <div class="col-sm-9">
                                                <input type="file" class="bannerFile" ng-model="banner.file" accept="image/*" multiple ng-submit="doUploadPhoto()" onchange="angular.element(this).scope().doUploadPhoto(this)">
                                                <ul class="img-list"  style="height: 100px;"> </ul>
                                            </div>
                                        </div>

                                        <div class="form-group clearfix" ng-if="banner.bannerType == 2">
                                            <label for="" class="col-sm-3 control-label">视频上传：</label>
                                            <div class="col-sm-9">
                                                <input type="file" class="bannerFile" ng-model="banner.file" " multiple ng-submit="doUploadVideo()" onchange="angular.element(this).scope().doUploadVideo(this)">
                                                <ul class="img-list"  style="height: 100px;"> </ul>
                                            </div>
                                        </div>

                                        <div class="form-group clearfix" ng-if="banner.bannerType == 1">
                                            <label for="" class="col-sm-3 control-label">广告链接：</label>
                                            <div class="col-sm-9">
                                                <input class="form-control" ng-model="banner.LinkUrl" style="width: 128px;">
                                            </div>
                                        </div>
        
                                        <div layout layout-sm='column' class="changeConfirm add-btn" style="margin-left: 189px;margin-top: 50px;">
                                            <md-button class="md-raised btn-w-md md-primary" ng-click="addBanner()">确定添加</md-button><div class="divider"></div>
                                        </div>
                                    </form>
                                </md-content>
                            </div>
                        </div>
                    </div>
                </div>
            </section>    
        </div>
    </div>
</section>
<style>
    .img-list li{position: relative;display: inline-block;width: 50px;height: 50px;margin: 5px 5px 0px 0px;border: 1px solid rgb(100,149,198);background: #fff no-repeat center;background-size: cover;}
    .img-list li a{
        position: absolute;top:12px;left: 16px;font-size: 27px;
    }
    
</style>