<section class="page-form-ele page" ng-controller="DecedentCtrl">


    <div class="row ui-section" ng-controller="DecedentCtrl" >
        <div class="col-lg-8 clearfix"> <h2 class="section-header">编辑用户信息</h2> </div>
        
        <div class="col-md-8 clearfix">
            <md-button class="md-raised btn-w-md md-primary changeClick" ng-click="backClick()">返回</md-button><div class="divider"></div>
        </div>

        <div class="col-md-12">
            <section class="panel panel-default">
                <div class="panel-body">
                    <div class="row decedent-detail" >
                        <div class="col-lg-8 col-lg-offset-2">

                            <div layout="column" ng-cloak class="md-inline-form inputdemoBasicUsage">
                                <md-content layout-padding>
                                    <form name="decedentForm" class="decedentForm">
                                        
                                        <div class="form-group clearfix">
                                          <label for="" class="col-sm-3 control-label">绑定逝者：</label>
                                          <div class="col-sm-9">
                                             <input class="form-control" class="decedentId" ng-model="decedent.decedentId">
                                            <select class="form-control" class="decedentId" ng-model="decedent.decedentId">
                                                
                                            </select>
                                             
                                          </div>
                                        </div>

                                        <!-- <div class="form-group clearfix">
                                          <label for="" class="col-sm-3 control-label">用户Id：</label>
                                          <div class="col-sm-9">
                                              <input class="form-control" class="decedentId" ng-model="decedent.decedentId" disabled>
                                          </div>
                                        </div>
                                       <div class="form-group clearfix">
                                          <label for="" class="col-sm-3 control-label">用户昵称：</label>
                                          <div class="col-sm-9">
                                              <input class="form-control" class="nickName" ng-model="decedent.nickName">
                                          </div>
                                        </div>
                                        <div class="form-group clearfix">
                                            <label for="" class="col-sm-3 control-label">用户名：</label>
                                            <div class="col-sm-9">
                                                <input class="form-control" class="decedentName" ng-model="decedent.decedentName">
                                            </div>
                                        </div>
                                        <div class="form-group clearfix">
                                          <label for="" class="col-sm-3 control-label">用户密码：</label>
                                          <div class="col-sm-9">
                                              <input class="form-control" class="decedentPsd" ng-model="decedent.password">
                                          </div>
                                        </div>
                                         -->
                                        <!-- <div class="form-group clearfix">
                                            <label for="" class="col-sm-3 control-label">年龄：</label>
                                            <div class="col-sm-9">
                                                <input class="form-control" class="realName" ng-model="decedent.age">
                                            </div>
                                        </div> -->
                                        <!--  <div class="form-group clearfix">
                                            <label for="" class="col-sm-3 control-label">性别：</label>
                                            <div class="col-sm-9">
                                                <md-radio-group id="gender" class="ui-md-radio-group-inline" ng-model="decedent.sex">
                                                    <md-radio-button value="1">男</md-radio-button>
                                                    <md-radio-button value="2">女</md-radio-button>
                                                </md-radio-group>
                                            </div>
                                        </div> -->
                                        <!-- <div class="form-group clearfix">
                                            <label for="" class="col-sm-3 control-label">账号状态：</label>
                                            <div class="col-sm-9">
                                              <select name="select" class='form-control' id="statue" data-ng-model="decedent.deleted" style="width:50%;">
                                                  <option value="1">正常</option>
                                                  <option value="2">封号</option>
                                                  <option value="3">暂停使用</option>


                                              </select>
                                            </div>
                                        </div>
                                        <div class="form-group clearfix">
                                            <label for="" class="col-sm-3 control-label">礼物图片：</label>
                                            <div class="col-sm-9">
                                                <input type="file" class="activityIcon" ng-model="decedent.approveVideoUrl" accept="video/*" ng-submit="doUploadPhoto()" onchange="angular.element(this).scope().doUploadPhoto(this)">
                                            </div>
                                        </div> -->


                                        <!-- <div layout layout-sm='column' class="changeConfirm add-btn">
                                            <md-button class="md-raised btn-w-md md-primary" ng-click="changedecedent()">确定修改</md-button><div class="divider"></div>
                                        </div> -->

                                    </form>
                                </md-content>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>
